
* {
  box-sizing: border-box;
}

input,
button {
  font-family: 'Tajawal', sans-serif;
}

.s131 {
  min-height: 91vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Tajawal', sans-serif;
  background-color: #a598ee;
  background-size: cover;
  background-position: center center;
  padding: 15px;
}

.s131 form {
  width: 100%;
  max-width: 940px;
}

.s131 form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);

}

.s131 form .inner-form .input-field {
  height: 68px;
}

.s131 form .inner-form .input-field input {
  height: 100%;
  background: #fff;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 16px;
  color: #333;
  border: 1px solid #e5e5e5;
}

.s131 form .inner-form .input-field input.placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s131 form .inner-form .input-field input:-moz-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s131 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s131 form .inner-form .input-field input:hover, .s131 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s131 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.s131 form .inner-form .input-field.first-wrap input {
  border-right: 0;
}

.s131 form .inner-form .input-field.second-wrap {
  min-width: 260px;
}


.s131 form .inner-form .input-field.third-wrap {
  width: 164px;
}

.s131 form .inner-form .input-field.third-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 20px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #63c76a;
  transition: all .2s ease-out, color .2s ease-out;
  font-weight: 300;
}

.s131 form .inner-form .input-field.third-wrap .btn-search:hover {
  background: #63ab68;
}

.s131 form .inner-form .input-field.third-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}


@media screen and (max-width: 992px) {
  .s131 form .inner-form .input-field {
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .s131 form .inner-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .s131 form .inner-form .input-field {
    margin-bottom: 20px;
  }
  .s131 form .inner-form .input-field input {
    padding: 10px 15px;
  }
  .s131 form .inner-form .input-field.first-wrap {
    width: 100%;
  }
  .s131 form .inner-form .input-field.first-wrap .choices__inner {
    padding: 10px 15px;
  }
  .s131 form .inner-form .input-field.second-wrap {
    width: 100%;
  }
  .s131 form .inner-form .input-field.second-wrap input {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .s131 form .inner-form .input-field.third-wrap {
    margin-bottom: 0;
    width: 100%;
  }
}

.cardd{
  padding: 10px;
  margin: 15px;
}

.cardd h3{
  margin: 10px 0 10px 0;
  font-size: 40px;
  font-weight: bold;
}

.cardd p{
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
}

.cardd ul{
  list-style: none;
}
.navbar{
  background-color: #a598ee;
}
#navbarNav > ul > li > a{
  color: #fff;
}
.nav-link,.navbar-brand{
  font-family: 'Tajawal', sans-serif;
}
/*# sourceMappingURL=Searchs_131.css.map */
.card{
  float: right;
  padding: 15px;
  margin: 15px;
}
.card h5,.card p{
  font-family: 'Tajawal', sans-serif;
}